<div class="card w-100" style="width: 18rem;">
  <div class="card-header">
    <select class="form-control" id="town-select" #townSelect (change)="updateTown(townSelect.value)">
      <option *ngFor="let town of towns" value="{{ town.id }}">{{ town.name }}</option>
    </select>
  </div>
  <div class="card-body" *ngIf="town">
    <div class="row">
      <div class="col-sm-10">
        <h5>Météo - {{ town.name }}</h5>
      </div>
      <div class="col-sm-2">
       <i class="wi wi-fw wi-forecast-io-{{ town.weather.icon }}"></i>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Température : {{ town.weather.temp }}°C</li>
      <li class="list-group-item">Temps : {{ town.weather.summary }}</li>
    </ul>
    <div class="card-img-bottom">
      <app-map #weatherMap lat="{{town.latitude}}" lng="{{town.longitude}}"></app-map>
    </div>
  </div>
</div>
