<div class="card w-100" style="width: 60vw;">
  <div *ngIf="towns === undefined; else page_content">
    <app-spinner></app-spinner>
  </div>
  <ng-template #page_content>
    <div class="card-header">
      <select class="form-control" id="town-select" #townSelect (change)="updateTown(townSelect.value)">
        <option *ngFor="let town of towns" value="{{ town.id }}">{{ town.name }}</option>
      </select>
    </div>
    <div *ngIf="town === undefined; else weather_content">
      <app-spinner></app-spinner>
    </div>
    <ng-template #weather_content>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-sm-6 text-center">
            <span style="font-size: 10vh;">
             <i class="wi wi-fw wi-forecast-io-{{ town.forecast.icon }}"></i>
            </span>
            <p>
              {{ town.forecast.summary }}
            </p>

          </div>

          <div class="col-sm-6 text-center">
            <span style="font-size: 6vh;">
              {{ town.name }}
            </span>
            <p>
              {{ town.forecast.temperature }}° C
            </p>
          </div>
        </div>
      </div>
      <div class="card-img-top">
        <app-map #weatherMap lat="{{town.latitude}}" lng="{{town.longitude}}"></app-map>
      </div>
    </ng-template>
  </ng-template>
</div>
